body h1,h2,h3,h4,h5,h6,p,li{
/*font-family: 'Nunito', sans-serif;*/
    font-family: 'Lato', sans-serif;
}
body ul{
    list-style: none;
}




nav ul a,
nav .brand-logo {
  color: #444;
}

nav ul a.active{
    color: black;
    font-weight: bold;
    background: rgba(0,0,0,0.2);
}

nav ul a:hover{
    background: rgba(0,0,0,0.2);
}



.nav_menu ul{
    list-style: none;

}

.nav_menu ul li{
    display: inline-block;
    padding: 10px;
}

.nav_menu ul li a{
    color: black;
    font-size: 1.3em;
}

.brand-logo{
   padding-top: 50px;
}

.nav_color{
    background: rgba(0,0,0,0.5);
}


.mask{
    background: rgba(0,0,0,0.7);
    width: 100%;
    padding: 10px;
    margin: -10px;
    height: 100vh;
}

.home_div{
    padding: 10px;
    background-repeat: no-repeat;
    background-image: url(../img/security.jpg);
    background-position: center;
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit- transition: all 0.25 ease;
    -moz-transition: all 0.25 ease;
    transition: all 0.25 ease;
    height: 100vh;

}

.home_div h1{
    font-size: 3.5em;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    padding-top: 15px;
    color: white;

}

.home_div p{
    font-size: 1.7em;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color: white;
}

.home_div .text2 p{
    font-size: 1.4em;
    /*text-align: center;*/
    font-family: 'Cabin', sans-serif;
}

.home_div .contact_btn {
    width: 20%;
    margin: 0 auto;
    margin-top: 50px;
}

.home_div .contact_btn:hover p {
 display: inline;
    border: 2px solid blue;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    padding: 10px;
    color: blue;
}

.home_div .contact_btn a{
    text-align: center;
    text-decoration-line: none;
    color: white;
}



.home_div .contact_btn a p{
    display: inline;
    border: 2px solid black;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    padding: 10px;
}

.services_brief{
   padding-top: 20px;
    margin-top: 0px;
text-align: center;
    background-color: beige;
}

.services_brief h1{
     font-size: 2.5em;
     color:rgba(0,0,128,0.9);
     text-align: center;

}

.services_brief .card{
    padding-top: 10px;
    padding-bottom: 10px;
}




.about_brief{
   padding-top: 20px;
   padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: beige;
    margin-top: -20px;
    margin-bottom: -20px;
    padding-bottom: 20px;
}

.about_brief h1{
     font-size: 2.5em;
     color:rgba(0,0,128,0.9);
     text-align: center;
}

.about_div{
    padding: 10px;
    text-align: center;

}

.about_div h1{
    text-align: center;
    color: blue;
    font-size: 3.2em;
    color:rgba(0,0,128,0.9);
}

.about_div h3{
    font-size: 2.5em;
    color:rgba(0,0,128,0.9);
}
.about_div p{

}

.about_div .values_div .values{
    display: inline-block;
    margin: 5px;
    padding: 5px;
}


.about_div .missionst{
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

.services_div{
    padding: 10px;
   /* padding-left: 100px;
    padding-right: 100px;*/
    text-align: center;
}

.services_div h5{
    padding-left: 100px;
    color:rgba(0,0,128,0.9);
}

.services_div .industry{
    padding-left: 50px;
    color:rgba(0,0,128,0.9);
}

.color{
    color:rgba(0,0,128,0.9);
}
.services_div h3{
    text-align: center;
    color:rgba(0,0,128,0.9);
}

.services_div .industry{
    font-weight: bold;
}


.services_div .investigate{
   /* background-color: #565A5c;*/
    background-color: beige;
    padding: 10px;
}

.contact_div{
    padding: 10px;
   /* background-color: #C1CDCD;*/
    text-align: center;

}

.contact_div h1{
    color:rgba(0,50,128,0.9);
    font-size: 3.2em;
}


footer{
text-align: center;
    padding-top: 15px;
    padding-bottom:15px;
    background-color: #000033;
    margin-top: -15px;
    margin-bottom: -20px;
    color: white;
}
