body h1,h2,h3,h4,h5,h6,p,li{
/*font-family: 'Nunito', sans-serif;*/
   /* font-family: 'Lato', sans-serif;*/
    font-family: 'Vollkorn', serif;
}

body p, li{
    font-size: 1.1em;
}

body ul{
    list-style: none;
}




nav ul a,
nav .brand-logo {
  color: #444;
}

nav ul a.active{
    color: black;
    font-weight: bold;
    background: rgba(0,0,0,0.2);
}

nav ul a:hover{
    background: rgba(0,0,0,0.2);
}



.nav_menu ul{
    list-style: none;

}

.nav_menu ul li{
    display: inline-block;
    padding: 10px;
}

.nav_menu ul li a{
    color: black;
    font-size: 1.3em;
}

.brand-logo{

}

.my_logo{
    margin-top: -12px;
}
.nav_color{
    background: rgba(0,0,0,0.5);
}


.title1{
    font-size: 1.7em;
}

.title{
     padding: 20px;
    font-size: 0.6em;
}

.title2{
    padding: 5%;
    font-size: 0.6em;
   /* text-align: left;*/
}



.mask{
    background: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.home_div{
    background-repeat: no-repeat;
    background-image: url(../img/security.jpg);
    background-position: center;
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit- transition: all 0.25 ease;
    -moz-transition: all 0.25 ease;
    transition: all 0.25 ease;
    height: 100vh;

}

.home_div h1{
    font-size: 3.5em;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    padding-top: 15px;
    color: white;

}

.home_div p{
    font-size: 1.7em;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color: white;
}

.home_div .text2 p{
    font-size: 1.4em;
    /*text-align: center;*/
    font-family: 'Cabin', sans-serif;
}


.contact_btn:hover{
 background-color: #fff;
    color: #000;
}


.contact_btn{
    display: inline-block;
    width: 200px;
    padding: 10px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    margin: 0 auto;
}


.btn_div{
     margin: 0 auto;
    width: 200px;
}



.services_brief{
   padding-top: 20px;
    margin-top: 0px;
text-align: center;
    background-color: #F7F7F7;
}

.services_brief h1{
     font-size: 2.5em;
     color:rgba(0,0,128,0.9);
     text-align: center;

}

.services_brief .card{
    padding-top: 10px;
    padding-bottom: 10px;
}

.card_size{
    height: 350px;
    padding: 10px;
}



.about_brief{
   padding-top: 20px;
   padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    /*background-color: beige;*/
    margin-top: -20px;
    margin-bottom: -20px;
    padding-bottom: 20px;
}

.about_brief h1{
     font-size: 2.5em;
     color:rgba(0,0,128,0.9);
     text-align: center;
}

.about_div{
    padding: 10px;
    text-align: center;

}

.about_div h1{
    text-align: center;
    color: blue;
    font-size: 3.2em;
    color:rgba(0,0,128,0.9);
}

.about_div h3{
    font-size: 2.5em;
    color:rgba(0,0,128,0.9);
}
.about_div p{

}

.about_div .values_div .values{
    display: inline-block;
    margin: 5px;
    padding: 5px;
}


.about_div .missionst{
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

.services_div{
    padding: 10px;
   /* padding-left: 100px;
    padding-right: 100px;*/
    text-align: center;
}

.services_div h5{
    padding-left: 100px;
    color:rgba(0,0,128,0.9);
}

.industry_div{
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

 .industry{
  padding: 0px;
  color:rgba(0,0,128,0.9);
  text-align: center;
}


.color{
    color:rgba(0,0,128,0.9);
}
.services_div h3{
    text-align: center;
    color:rgba(0,0,128,0.9);
}

.services_div .industry{
    font-weight: bold;
}


.investigate{
   /* background-color: #565A5c;*/
    background-color: beige;
    padding: 10px;
    text-align: center;

}

.tracking{
    text-align: center;
    padding: 10px;
}

.contact_div{
    padding: 10px;
    background-color: #C1CDCD;
    text-align: center;

}

.contact_div h1{
    color:rgba(0,50,128,0.9);
    font-size: 3.2em;
}


footer{
text-align: center;
    padding-top: 15px;
    padding-bottom:15px;
    background-color: #000033;
    margin-top: -15px;
    margin-bottom: -20px;
    color: white;
}
